.div-outer{
    width: 300px;
    height: 300px;
    border: solid 1px;
}

.div-child{
    width: 100px;
    height: 200px;
    background: brown;
    position: relative;
    left: 0;
    top: 0;
}

.div-second-child{

    width: 200px;
    height: 200px;
    background: brown;
    position: absolute;
    left: 0;
    top: 0;
}