body{
    font-family: Quicksand;
    font-weight: 400;
    color: #4c4c4c;
    line-height: 1.5;
    text-align: center;
}

.fruit-all{
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}

.product1-area{
    float: left;
    border: 2px solid orange;
    margin-left: 20px;
    margin-top: 20px;
    padding: 2em;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    width: 400px;
    height: auto;
}

.button{
    border-style: 1px solid orange;
    margin-top: 10px;
    height: auto;
    display: inline-block;

}

.story{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    text-align: center;
}

.button2:hover{
    height: auto;
    display: inline-block;
}

.smallproduct-grid{
    float: left;
    display: block;

}


.smallproduct1{
    float: left;
    border: 2px solid orange;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.smallproduct2{
    float: left;
    border: 2px solid orange;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.smallproduct3{
    float: left;
    border: 2px solid orange;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.smallproduct4{
    float: left;
    border: 2px solid orange;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}