.nav-header{
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: green;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child-list > span{
    color: #ffffff;
    margin-left: 100px;
    cursor: pointer;
}
.child-list-second > span{
    color: #ffffff;
    margin-left: 100px;
    cursor: pointer;
}
.sub-header{
    position: relative;

}

.list-product{
    width: 100px;
    text-align: center;
    background: brown;

    position: absolute;
    left: 270px;
    top: 20px;
    display: none;
}

.list-product-second{
    width: 100px;
    text-align: center;
    background: brown;

    position: absolute;
    right: 161px;
    top: 20px;
    display: none;
}
.child-list:hover .list-product{
    display: block;
}

.child-list-second:hover .list-product-second{
    display: block;
}